@media (min-width: 992px) {
    .summary-responsive-margins {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.table-col {
    display: flex;
}

.table-row {
    justify-content: center;
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
