@media (min-width: 992px) {
    .chart-responsive-margins {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.chart-col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid gray;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: var(--huds-grayscale-light);
}
