.student-from-course-delete-center-text {
    text-align: center;
}

.student-from-course-delete-dialog-button {
    border: unset;
    background-color: unset;
}

.student-from-course-delete-dialog-button svg {
    min-width: 1em;
    min-height: 1em;
}
