/*.student-in-course-list-flex-container-XXX .col-1-XXX {
    flex: 0 0 50%;*/ /* 70% of the container width */
/*box-sizing: border-box;*/ /* include padding and border in the element's total width */
/*}
.student-in-course-list-flex-container-XXX .col-2-XXX {
    flex: 0 0 50%;*/ /* 30% of the container width */
/*box-sizing: border-box;*/ /* include padding and border in the element's total width */
/*}

.student-in-course-list-flex-item-ORIG {
    flex: 0.2;*/ /* This tells the items to grow and shrink to fill equal space */
/* This sets the background color to grey. */
/*background-color: #80808063;*/
/* This sets a grey shadow. Adjust the values as needed. */
/*padding: 5px 0;*/
/*line-height: 2;
    padding-right: 10px;

}

.student-in-course-list-flex-item-1-ORIG {
    flex: 0 0 140px;/* /* Adjust this width to suit your design */
/*}

.student-in-course-list-flex-item-2-ORIG {
    flex-grow: 1;
}*/
