.student-list-table {
    width: 100%;
}

.student-list-table tbody > :nth-child(even) {
    background-color: var(--huds-grayscale-light);
}

.student-list-table tbody tr {
    max-width: 20em;
    border-bottom: 1px solid var(--huds-grayscale-black);
}

.studentlist-in-course-column-delete svg {
    fill: var(--huds-grayscale-black);
    min-width: 1.2em;
    max-width: 1.2em;
    width: 1.2em;
    max-height: 1.2em;
}

.studentlist-in-course-empty {
    display: flex;
    justify-content: center;
}
