.pie-chart-item {
    border: 1px solid ;
    padding: 10px;
    margin-top: 20px;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
}

.sortable {
    position: relative;
    user-select: none;
}

.sort-icon {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    vertical-align: middle;
    transition:
        transform 0.2s,
        fill 0.2s;
}

.sort-icon.sorted {
    transform: scale(1.2);
}

.sort-icon .st0 {
    fill: var(--hy-black);
}
