.answer-form-container  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    outline: 2px solid var(--huds-grayscale-medium-dark);
    margin: 0 auto;
    padding: 0 20px;
    width: 80%;
    box-shadow: 1px 2px 4px var(--huds-grayscale-black);
}

.answer-form-welcome-col h1 {
    padding: 0.5em 0 0.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    border-bottom: 1px solid var(--huds-grayscale-medium);
    width: 100%;
}

.answer-form-description-col {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--hy-black);
    display: block;
    box-sizing: border-box;
    margin-block-end: 1em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.answer-form-send-button {
    margin-bottom: 1em;
    margin-top: 1em;
}

