.course {
    display: flex;
    flex-direction: column;
    background-color: var(--huds-grayscale-light);
    padding: 12px 16px 16px;
}

.course-heading {
    flex-basis: 100%;
}

.course .course-heading-link a {
    display: block;
    min-width: 100%;
    text-decoration: none;
    color: var(--huds-brand-main) !important;
    font-weight: 600;
    font-size: 1.4em;
}

.course .course-heading-link a:hover {
    text-decoration: underline;
    color: var(--huds-brand-main-light) !important;
}

.course .course-secondary-info {
    font-size: 0.8em;
    font-weight: 600;
}
