.course {
}

/*.course-link a:nth-child(even) {
   background-color:var(--huds-grayscale-light);
}*/

.course-title {
   font-weight: bold;
}
/*.course-title:nth-child(even)  {
   background-color:var(--huds-grayscale-light);
}*/

/*.student-course-description {
   padding-left: 10px;
}*/