
/*.course-list-line-container  {
    flex-direction: row;
}*/

.line {
    border: 0;
    background-color: #000;
    color: black;
    height: 2px;
}

.course-list {
    list-style-type: none;
}

/*.course-list > li > body > :nth-child(even) {
    background-color: var(--huds-grayscale-light);
}*/

/*.course-list li:nth-child(even) a {
    color:var(--huds-grayscale-dark);
}*/

.course-row:nth-child(even)  {
   background-color:var(--huds-grayscale-light);
}

.course-row {
    max-width: 20em;
    border-bottom: 1px solid var(--huds-grayscale-black);
    padding-bottom: 0.5em;
}

.student-no-courses {
    margin-bottom: 15px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--hy-light-silver);
    text-align: center;
}


