.course-list {
    list-style: none;
    padding-left: unset;
}

.course-list li {
    margin-bottom: 12px;
}

.student-no-courses {
    margin-bottom: 15px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--hy-light-silver);
    text-align: center;
}
