.assignments-form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 10px;
    padding: 0 0px;
    width: 80%;
}

.assignments-form-row {
    display: flex;
    width: 100%;
    padding-bottom: 0.5em;
}

.assignments-form-back-col {
    flex: 0;
}

.assignments-form-title-col {
    flex: 0;
    flex-basis: auto;
    width: 85%;
    padding-top: 3px;
    font-weight: bold;
}

.assignments-form-assignment-col {
    flex: 0;
    flex-basis: auto;
    width: 85%;
}

.assignments-summary-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0 0px;
    width: 80%;
}

.assignments-summary-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.assignments-course-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    margin-bottom: 10px;
    padding: 0 0px;
}

.assignments-course-row {
    display: flex;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.assignments-line-container {
    flex-direction: row;
    width: 80%;
}

.line {
    border: 0;
    background-color: #000;
    color: black;
    height: 2px;
}

ul.assignments-list {
    list-style: none;
    padding-left: unset;
}

.assignments-header-empty {
    display: flex;
    flex-direction: column;
    background-color: var(--huds-grayscale-light);
    padding: 16px;
}

.assignments-list-item {
    display: flex;
    flex-direction: column;
    background-color: var(--huds-grayscale-light);
    padding: 12px 16px 16px;
}

.assignments-list-item-link {
    width: 300px;
    display: flex;
}
.assignments-list-item-answered {
    padding-top: 5px;
    width: fit-content;
    color: green;
}
.assignments-list-item-not-answered {
    padding-top: 5px;
    width: fit-content;
    color: #b22222;
}

.assignments-list-item-link a {
    color: var(--huds-brand-main) !important;
    text-decoration: none;
    display: block;
    min-width: 100%;
    font-weight: 600;
    font-size: 1.4em;
}

.assignments-list-item-link a:hover {
    text-decoration: underline;
    color: var(--huds-brand-main-light) !important;
}

.assignments-list-item-secondary {
    font-weight: 600;
    font-size: 0.8em;
}

.assignments-reflection-summary {
    color: var(--huds-brand-main) !important;
    text-decoration: none;
    display: block;
    min-width: 100%;
    font-weight: 600;
    font-size: 1.4em;
    padding-bottom: 12px;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}

.assignments-message {
    padding-top: 5px;
    padding-left: 10px;
    width: fit-content;
    color: #c21f39;
    font-weight: bold;
    background-color: var(--huds-grayscale-light);
}

.assignments-send-button {
    margin-top: -10px;
    padding-right: 10px;
}

.validation-message {
    color: var(--hy-red);
    min-height: 1.5em;
    margin-top: -10px;
    margin-bottom: 5px;
}
