.assignment-form-container  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    outline: 2px solid var(--huds-grayscale-medium-dark);
    margin-bottom: 10px;
    padding: 0 20px;
    width: 80%;
    box-shadow: 1px 2px 4px var(--huds-grayscale-black);
}

.assignment-form-row {
    /*padding: 0.5em 0 0.5em;*/
    /*padding-bottom: 1.0em;*/
    /*font-weight: 700;
    border-bottom: 1px solid var(--huds-grayscale-medium);*/
    display: flex;
    width: 100%;
    padding-bottom: 1.0em;
}

/*.assignment-form-col {
    padding: 0.5em 0 0.5em;
    padding-bottom: 1.0em;
    font-weight: 700;
    border-bottom: 1px solid var(--huds-grayscale-medium);
    width: 20%;
}*/
.assignment-form-back-col {
    width: 15%;
}
.assignment-form-assignment-col {
    width: 85%;
}

/*.assignment-form-description-col {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--hy-black);
    display: block;
    box-sizing: border-box;
    margin-block-end: 1em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}*/

.assignment-form-send-button {
    margin-bottom: 1em;
    margin-top: 1em;
}

