.assignment-form-area {
    background-color: var(--huds-grayscale-light);
}

.assignment-form-area-cols {
    padding: 10px;
}

.assignment-form-header-row {
    display: flex;
    width: 100%;
}

.assignment-form-back-col {
    flex: 0;
}
.assignment-form-assignment-col {
    flex: 0;
    flex-basis: auto;
    width: 85%;
    font-size: large;
    font-weight: bold;
}

.assignment-form-send-button {
    margin-bottom: 1em;
    margin-top: 1em;
}

.assignment-form-button-clear {
    padding-right: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

ul.assignments-list {
    list-style: none;
    padding-left: unset;
}
