.assignments-form-container  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 10px;
    padding: 0 0px;
    width: 80%;
}

.assignments-form-row {
    /*padding: 0.5em 0 0.5em;*/
    /*padding-bottom: 1.0em;*/
    /*font-weight: 700;
    border-bottom: 1px solid var(--huds-grayscale-medium);*/
    display: flex;
    width: 100%;
    padding-bottom: 1.0em;
}

.assignments-form-back-col {
    flex: 0;

}

.assignments-form-title-col {
    flex: 0;
    flex-basis: auto;
    width: 85%;
    padding-top: 3px;
    font-weight: bold;
}

.assignments-form-assignment-col {
    flex: 0;
    flex-basis: auto;
    width: 85%;
}

.assignments-summary-container  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    outline: 2px solid var(--huds-grayscale-medium-dark);
    margin-bottom: 10px;
    padding: 0 20px;
    width: 80%;
    box-shadow: 1px 2px 4px var(--huds-grayscale-black);
}

.assignments-summary-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.assignments-valid-container  {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    outline: 2px solid var(--huds-grayscale-medium-dark);
    margin-bottom: 10px;
    padding: 0 20px;
    width: 80%;
    box-shadow: 1px 2px 4px var(--huds-grayscale-black);
}

.assignments-valid-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: start;
    align-items: start;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


