.feedback-for-evaluation-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.feedback-for-evaluation-footer-buttons button {
    padding-right: 8px;
}

.feedback-for-evaluation-footer a {
    color: var(--huds-brand-main) !important;
}
