.feedback-for-evaluation {
    background-color: var(--huds-grayscale-light);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feedback-for-evaluation-answer {
    background-color: var(--huds-grayscale-light);
    width: 35%;
    word-break: break-all;
}

.feedback-for-evaluation-rows {
    background-color: var(--huds-grayscale-light);
}

.feedback-for-evaluation-back-col {
    flex: 0;
}

.feedback-for-evaluation-assignment {
    padding-bottom: 5px;
    font-size: large;
    font-weight: bold;
}

.feedback-for-evaluation-choice {
    padding-right: 5px;
}

.feedback-for-evaluation-order {
    padding-left: 5px;
}

.feedback-for-evaluation-order > img,
svg {
    vertical-align: text-bottom;
}

.feedback-for-evaluation-info {
    font-style: italic;
    margin: 10px 0 10px 0;
}
