.feedback-for-evaluation-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.feedback-for-evaluation-footer-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
}

.feedback-for-evaluation-footer-buttons a:last-child {
    margin-left: auto;
}

.feedback-for-evaluation-footer a {
    color: var(--huds-brand-main) !important;
}
