.feedback-for-evaluation-header {
}

.feedback-for-evaluation-assignment {
    padding-bottom: 5px;
    font-size: large;
    font-weight: bold;
}

.feedback-for-evaluation-course {
    padding-bottom: 10px;
}