.written-response-header {
    margin: 0.5em 0 0.5em 0;
}

.written-response-content {
    margin-bottom: 1em;
}

.bottom-left-lower-content {
    margin-top: 0.5em;
}

.bottom-padding-content {
    padding-bottom: 20px;
}

.bottom-left-lower-content svg {
    margin-left: 10px;
    margin-right: 5px;
    top: -4px;
    position: relative;
    width: 16px;
    height: 16px;
}

.assignment-answers-list-item-link {
    display: flex;
}

.assignment-answers-list-item-link a {
    color: var(--huds-brand-main) !important;
    text-decoration: none;
    display: block;
    min-width: 100%;
}

.assignment-answers-list-item-link a:hover {
    text-decoration: underline;
}

.form-message {
    font-weight: bold;
}

.divBelow {
    margin-bottom: 0;
}

.customRowDiv {
    display: flex;
    justify-content: space-between;
}

.warning {
    color: #c21f39;
    font-weight: bold;
}

.customRowEnd {
    text-align: end;
}

.assignment-answers-padding {
    padding-top: 30px;
}

.assignment-topic-header-row {
    padding-bottom: 1em;
}

.assignment-answer-level-row {
    padding-bottom: 1em;
}

.assignment-answers-divider {
    border-top: 1px solid var(--hy-dark-gray);
}

.feedback-level svg {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1em;
    top: -4px;
    position: relative;
    width: 16px;
    height: 16px;
}
