footer {
    background-color: var(--hy-black);
    padding-top: 20px;
    padding-bottom: 20px;
    flex-flow: column wrap;
    width: 100%;
    box-sizing: border-box;
}

.footer-hy-logo {
    flex: 0 1 auto;
    text-align: center;
}

footer p {
    color: var(--hy-white);
}

footer ul {
    list-style: none;
    align-items: center;
}

footer li > a {
    color: var(--hy-white);
}

@media (max-width: 992px) {
    footer {
        text-align: center;
        position: relative;
        width: 100%;
    }

    .footer-hy-logo {
        text-align: center !important;
    }
}
