
.top-bar {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;
}

.top-bar-logo {
}

.top-bar-left {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
}

.top-bar-back-btn {
}

.top-bar-heading {
    flex: 2 1 100%;
}

.top-bar-heading > h2 {
    width: 100%;
    text-align: center;
    word-break: break-all;
}

.top-bar-children {
    flex: 0 1 50%;
    align-self: start;
    word-break: break-all;
}

/* Mobile styles */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        margin-right: 0;
    }

    .top-bar-heading > h2 {
        text-align: left;
        margin-top: 10px;
    }
}
