.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-bar-back-btn {
    flex-grow: 1;
    flex-basis: 100%;
}

.top-bar-heading {
    flex-grow: 0;
    min-width: fit-content;
}

.top-bar-children {
    flex-grow: 1;
    flex-basis: 100%;
}
