.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;

    margin-left: 12px;
    margin-right: 12px;

    margin-bottom: 48px;
}

.top-bar-logo {
}

.top-bar-left {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
}

.top-bar-back-btn {
}

.top-bar-heading {
    flex: 2 1 100%;
}

.top-bar-heading > h2 {
    width: 100%;
    text-align: center;
    word-break: break-all;
}

.top-bar-children {
    flex: 0 1 50%;
    align-self: start;
    word-break: break-all;
}
