
.teacher-forms {
}

.teacher-forms-content {
  display: flex;
  justify-content: center;
}

.teacher-forms-new-form {
  display: flex;
  flex-direction: row-reverse;
}

.teacher-forms-no-forms {
  display: flex;
  justify-content: center;
  background-color: var(--huds-grayscale-light);
}
